<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'sty.css' %}">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-long-up.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/collage.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/profile.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/copy.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/designmodo.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/clipboard.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/globe-alt.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/bell.css' rel='stylesheet'>
</head>
<body style="background-color: rgb(73, 66, 73);">
    <div class="d1">
        <h1 class="ct">CREATIVE TIM</h1><br>
        <i class="gg-collage"></i>
        <a class="dash" href="{% url 'border' %}">Dashboard</a><br><br>
        <i class="gg-collage"></i>
        <a class="dash" href="{% url 'customer' %}">Customer Table</a><br><br>
        <i class="gg-profile"></i>
        <a class="user" href="{% url 'banner' %}">Banner Table</a><br><br>
        <i class="gg-clipboard"></i>
        <a style="background-color: blueviolet;" class="tl" href="{% url 'payment' %}">Payment Table</a><br><br>
        <i class="gg-copy"></i>
        <a class="typo" href="{% url 'delifee' %}">Delifee Table</a><br><br>
        <i class="gg-designmodo"></i>
        <a class="ico" href="{% url 'region' %}">Region Table</a><br><br>
        <i class="gg-globe-alt"></i>
        <a class="ma" href="{% url 'product' %}">Product Table</a><br><br>
        <i class="gg-bell"></i>
        <a class="noti" href="{% url 'information' %}">Information Table</a><br><br>
        <i class="gg-bell"></i>
        <a class="noti" href="{% url 'cartegory' %}">Category Table</a><br><br>
        <i class="gg-bell"></i>
        <a class="noti" href="{% url 'brand' %}">Brand Table</a><br><br>
        <i class="gg-bell"></i>
        <a class="noti" href="{% url 'order' %}">Order Table</a><br><br>
    </div>
    <h1 class="db">Payment Table</h1>
    <form action="#">
        <input class="sb" type="text" placeholder="Search.." name="search">
        <input class="sbe" type="submit" value="Search">
    </form>

    <p class="no">5</p>
    <i id ="collage" class="gg-collage"></i>
    <i id ="bell" class="gg-bell"></i>
    <i id ="profile" class="gg-profile"></i>
        <div class="table">
            <form action="{% url 'paymenttable' %}" method="post">
                {% csrf_token %}
                <br><br><br>
                <label for="id">ID:</label>
                <input type="text" name="id" id="id" class="id">
                <br><br><br>
                <label for="paymenttype">Payment Type:</label>
                <input type="text" name="paymenttype" id="paymenttype" class="paymenttype">
                <br><br><br>
                <div class="left">
                    <br><br><br><br><br>
                    <label for="phonenumber">Phone Number:</label>
                    <input type="text" name="phonenumber" id="phonenumber" class="phonenumber">
                    <br><br><br>
                    <label for="createdat">Created at:</label>
                    <input type="text" name="createdat" id="createdat" class="createdat">
                    <br><br><br>
                </div>
                <input class="sg" type="submit" value="Save & Generate">
            </form>
            <p class="end">Copyright all right reserved by Chan</p>
        </div>
</body>
</html>